<div class="container">
    <div class="row">
        <div class="col">
            <img src="" alt="Yummy Burger">
        </div>>
    </div>
    <div class="row">
        <div class="col">
            <h1>Eat A Burger!!!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 burgersToEat">
            {{#each burgers}}
            {{#unless is_eaten}}
                {{>burgers/burger-block}}
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm-6 burgersEaten">
            {{#each burgers}}
            {{#if is_eaten}}
                {{>burgers/burger-eaten-block}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>