<ul>
    <li>{{id}}) Burger Name: {{burger_name}}</li>
    <li>Toppings:
        <ul>
        {{#each toppings}}
            <li>{{topping_name}}</li>
        {{/each}}
        </ul>
    </li>
    <li>Burger Eaten: {{updated_at}}</li>
</ul>